<ion-view view-title="Notes" ng-controller="ListCtrl">
<ion-content>
 <ion-list show-reorder="reordering">
  <ion-item class="item-remove-animate item-icon-right"
  href="#edit/{{note.id}}" 
  ng-repeat="note in notes track by note.id">
    <h2>{{note.title}}</h2>
    <p>{{note.description}}</p>
    <p>ID: {{note.id}}</p>
    <i class="icon ion-chevron-right"></i>
    <ion-reorder-button on-reorder="move(note, $fromIndex, $toIndex)" class="ion-drag"></ion-reorder-button>
    <ion-option-button class="buton button-assertive icon-left ion-trash-a" ng-click="remove(note.id)">Delete</ion-option-button>
  </ion-item>
 </ion-list>
</ion-content>

<div class="bar bar-footer bar-stable">
	<a href="#/add" class="button button-royal icon-left ion-compose">Add New Note</a>
	<button class="button icon-left ion-shuffle"
	ng-click="toggleReordering()"
  ng-class="{'my-active': reordering}">
  Reorder</button>
</div>
</ion-view>